/* Your Website Styles */

/***********
GENERAL
************/

h1 {
	color: #A3D86E;
	font-family: 'Russo One', sans-serif;
	width: 370px;
	padding: 10px;
	border: 10px;
	margin: 10px;
	font-size: 2.5em;
}

h2 {
	font-family: 'Russo One', sans-serif;
	color: #A3D86E;
}

h3 {
	font-family: 'Russo One', sans-serif;
	color: #A3D86E;
	margin: 5px 0 5px 0;
}

h4 {
	font-family: 'Russo One', sans-serif;
	color: #A3D86E;
}

body {
	background: url("../img/bg.png");
}

p {
	font-family: 'Play', sans-serif;
	margin: 5px 0 5px 0;
}

.container {
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

/***********
TITLE SECTION
************/
.heading {
	background-color: rgba(255, 255, 255, 0.3);
}

nav {
	padding: 10px 0 10px 0;
	border: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}

nav>li{
	float: right;
}

/***********
ABOUT SECTION
************/

#second {
	padding: 0 10px 0 10px;
	margin: 0 10px 0 10px;	
}

img	{
	width: 75%;
	padding: 10px;
	margin: 10px;
	border-radius:30px;
}

/***********
EXTRA LINKS
************/

li {
	list-style: none;
	float: left;
	font-family: 'Play';
}

a {
	color: black;
	text-decoration: none;
	margin: 0 5px 0 5px;
}

a:hover {
	text-decoration: line-through;
	color: #A3D86E;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}