/* Your Website Styles */
h1 {
	color: #C2F0B3;
	font-family: 'Russo One', sans-serif;
	width: 300px;
	padding: 10px;
	border: 10px;
	margin: 10px;
}

h2 {
	font-family: 'Russo One', sans-serif;
}

h3 {
	font-family: 'Russo One', sans-serif;
}

body {
	background: url("../img/bg.png")
}

p {
	font-family: 'Play', sans-serif;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}