/* Your Website Styles */
h1 {
	color: #A3D86E;
	font-family: 'Russo One', sans-serif;
	width: 300px;
	padding: 10px;
	border: 10px;
	margin: 10px;
}

h2 {
	font-family: 'Russo One', sans-serif;
	color: #A3D86E;
}

h3 {
	font-family: 'Russo One', sans-serif;
	color: #A3D86E;
}

body {
	background: url("../img/bg.png");
}

p {
	font-family: 'Play', sans-serif;
}

#main {
	background-color: rgba(255, 255, 255, 0.1);
}

#secondtitle {
	width: 300px;
	padding: 10px 0 10px 0;
	border: 10px 0 10px 0;
	margin: 18px 0 10px 0;
}

img	{
	width: 75%;
	padding: 10px;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}